[Unit]
Description=USB HID Gadget Service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/home/pi/ai-braille-keyboard/usb-hid-gadget.sh
ExecStop=/home/pi/ai-braille-keyboard/usb-hid-gadget-clean.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
